@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* Remove spinners for number inputs (WebKit browsers) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove spinners for number inputs (Firefox) */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
    body {
        @apply bg-slate-600 box-border
    
    }
    h1 {
        @apply text-lg
    }
    .btn{
        @apply flex items-center justify-center w-72 text-center text-white py-2 rounded-lg border-2 hover:bg-[#2F3448] transition
    }

}